<div class="row">
    <div class="col-2" style="font-size: 20px;">Đề bài:</div>
    <div>
        <input id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple />
        <button type="button" class="btn btn-success btn-s" (click)="upload()" style="margin-top: 5px;">
            <i class="glyphicon glyphicon-open-file"></i>&nbsp;Send
        </button>
    </div>
</div>

<div class="mat-app-background basic-container">
    <div class="w3-container w3-lobster font-effect-brick-sign">
        <h3 class="w3-xxlarge">Danh sách bài tập của học viên: </h3>
    </div>
    <div fxLayout fxLayoutAlign="center center">
        <mat-form-field>
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="DataSource" matSort matSortStart="desc">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.nameStudent}} </td>
            </ng-container>

            <ng-container matColumnDef="linkGitHub">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> LinkGitHub </th>
                <td mat-cell *matCellDef="let element"> {{element.linkGitHub}} </td>
            </ng-container>

            <ng-container matColumnDef="nameExercise">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Bài tập </th>
                    <td mat-cell *matCellDef="let element"> {{element.nameExercise}} </td>
                </ng-container>
    
            <ng-container matColumnDef="point">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Point </th>
                <td mat-cell *matCellDef="let element"> {{element.point}} </td>
            </ng-container>

            <ng-container matColumnDef="send">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Send </th>
                <td mat-cell *matCellDef="let element">
                <mat-checkbox>Send</mat-checkbox>    
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>