<div class="font-weight-bold">
    <p class="text"> Top Course:
    </p>

</div>
<div class="card ">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="card img">
                    <div class="card-header">
                        <img class="imgBp"
                            src="https://james.codegym.vn/pluginfile.php/10177/course/overviewfiles/Preparation.jpg">
                    </div>
                    <div class="card-body imgText">
                        <p class="font-weight-bold">BootCamp Preparation</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                Khoá học BootCamp Preparation giúp học viên làm chủ các kiến thức lập trình cơ bản và tư duy giải quyết
                vấn đề. Hoàn thành khoá học, học viên có đủ kiến thức và kỹ năng nền tảng về lập trình để bước sang giai
                đoạn học lập trình chuyên sâu.
                Khoá học giúp học viên thành thạo được các kỹ thuật lập trình cơ bản với ngôn ngữ JavaScript, xây dựng
                được các ứng dụng cần tính toán sử dụng các kiến thức lập trình cơ bản, tạo nền tảng vững chắc khi
                chuyển sang học các kỹ thuật lập trình nâng cao hơn với các loại ngôn ngữ lập trình khác nhau như Java,
                C#, PHP v.v.. Ngoài ra, học viên còn áp dụng được các kỹ thuật học tập và làm việc hiệu quả, có thái độ
                tốt đối với công việc.
            </div>
        </div>
    </div>
</div>
<div class="card document">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="card img">
                    <div class="card-header">
                        <img class="imgBp"
                            src="https://james.codegym.vn/pluginfile.php/23/course/overviewfiles/PragmaticScrum-Feature-01.png">
                    </div>
                    <div class="card-body imgText">
                        <p class="font-weight-bold">Scrum Essence</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                Khoá học Scrum - phương pháp Agile phổ biến giúp tăng năng suất và hiệu quả cho các nhóm cộng tác.
            </div>
        </div>
    </div>
</div>
<div class="font-weight-bold">
        <p class="text"> My Course:
        </p>
    
    </div>
    <div class="card ">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="card img">
                        <div class="card-header">
                            <img class="imgBp"
                                src="https://james.codegym.vn/pluginfile.php/10177/course/overviewfiles/Preparation.jpg">
                        </div>
                        <div class="card-body imgText">
                            <p class="font-weight-bold">BootCamp Preparation</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    Khoá học BootCamp Preparation giúp học viên làm chủ các kiến thức lập trình cơ bản và tư duy giải quyết
                    vấn đề. Hoàn thành khoá học, học viên có đủ kiến thức và kỹ năng nền tảng về lập trình để bước sang giai
                    đoạn học lập trình chuyên sâu.
                    Khoá học giúp học viên thành thạo được các kỹ thuật lập trình cơ bản với ngôn ngữ JavaScript, xây dựng
                    được các ứng dụng cần tính toán sử dụng các kiến thức lập trình cơ bản, tạo nền tảng vững chắc khi
                    chuyển sang học các kỹ thuật lập trình nâng cao hơn với các loại ngôn ngữ lập trình khác nhau như Java,
                    C#, PHP v.v.. Ngoài ra, học viên còn áp dụng được các kỹ thuật học tập và làm việc hiệu quả, có thái độ
                    tốt đối với công việc.
                </div>
            </div>
        </div>
    </div>