<mat-toolbar color="primary">
    <mat-toolbar-row class="epic" style="position: fixed;">
        <h1>EPIC</h1>
    </mat-toolbar-row>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li>
                <mat-search-bar style="font-size: small;"></mat-search-bar>
            </li>
            <li>
                <a>
                    <mat-icon class="iconToolbar" [routerLink]="'/admin/logout'">input</mat-icon>
                    <span class="label">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</mat-toolbar>

<mat-sidenav-container >
    <mat-sidenav mode="side" opened [disableClose]="true" class="vertical-menu">
        <div class="div-btn">
            <button mat-raised-button mat-raised-button class="btn-blue" [routerLink]="'/admin/dashboard'">
                <mat-icon>dashboard</mat-icon>
                <span class="custom-text">Dashboard</span>
            </button>
        </div>
        <div class="div-btn" color="#2A3F54">
            <button mat-raised-button class="btn-blue" [routerLink]="'/admin/listStudent'"><i class="material-icons">list</i>
                <span class="custom-text">Account</span>
            </button>
        </div>
        <div class="div-btn">
            <button mat-raised-button mat-raised-button class="btn-blue" [routerLink]="'/admin/listClass'">
                <mat-icon>class</mat-icon>
                <span class="custom-text">Class</span>
            </button>
        </div>
        <div class="div-btn">
                <button mat-raised-button mat-raised-button class="btn-blue" [routerLink]="'/admin/listCourse'">
                    <mat-icon>menu_book</mat-icon>
                    <span class="custom-text">Course</span>
                </button>
            </div>

        <div class="div-btn">
            <button mat-raised-button class="btn-blue" [routerLink]="'/admin/listLevel'"><i
                    class="material-icons">add_circle_outline</i>
                <span class="custom-text">Create</span>
            </button>
        </div>
        <div class="div-btn">
            <button mat-raised-button class="btn-blue" [routerLink]="'/admin/uploadFile'">
                <mat-icon>book</mat-icon>
                <span class="custom-text"> Document </span>
            </button>
        </div>
        <div class="div-btn">
            <button mat-raised-button class="btn-blue" [routerLink]="''">
                <mat-icon>notification_important</mat-icon>
                <span class="custom-text">Notification</span>
            </button>
        </div>
        <div class="div-btn">
            <button mat-raised-button mat-raised-button class="btn-blue" [routerLink]="'/admin/setting'">
                <mat-icon>build</mat-icon>
                <span class="custom-text">Setting</span>
            </button>
        </div>
       

    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>