<div class="wrapper">
    <mat-card>
        <p style="font-size: 30px; color:rgb(26, 78, 175); text-align:center; margin-top: 10px; ">Registration</p>
        <div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegisters()">
                <!-- fullName -->
                <div>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Name"  formControlName="name">
                        <mat-error *ngFor="let validation of validation_messages.name">
                            <mat-error class="error-message"
                                *ngIf="registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Name course"
                            formControlName="courseID">

                        <mat-error *ngFor="let validation of validation_messages.courseID">
                            <mat-error class="error-message"
                                *ngIf="registerForm.get('courseID').hasError(validation.type) && (registerForm.get('courseID').dirty || registerForm.get('courseID').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="startDay" [min]="dateNow" placeholder="Start Day"
                            [(ngModel)]="form.startDay" formControlName="dateBegin" required>
                        <mat-error *ngFor="let validation of validation_messages.dateBegin">
                            <mat-error class="error-message"
                                *ngIf="registerForm.get('dateBegin').hasError(validation.type) && (registerForm.get('dateBegin').dirty || registerForm.get('dateBegin').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="startDay"></mat-datepicker-toggle>
                        <mat-datepicker #startDay></mat-datepicker>

                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="endDay" [min]="form.startDay" placeholder="endDay"
                            [(ngModel)]="form.endDay" formControlName="dateEnd" required>
                        <mat-error *ngFor="let validation of validation_messages.dateEnd">
                            <mat-error class="error-message"
                                *ngIf="registerForm.get('dateEnd').hasError(validation.type) && (registerForm.get('dateEnd').dirty || registerForm.get('dateEnd').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="endDay"></mat-datepicker-toggle>
                        <mat-datepicker #endDay></mat-datepicker>
                    </mat-form-field>

                </div>
                <mat-card-actions>
                    <button mat-raised-button style="border-radius: 20px" color="primary">Create</button>
                </mat-card-actions>
            </form>
        </div>
    </mat-card>
</div>