<div class="mat-app-background basic-container">
    <div fxLayout fxLayoutAlign="center center">
        <mat-form-field>
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="DataSource" matSort matSortStart="desc">
            <ng-container matColumnDef="name" style="color: aqua;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Class </th>
                <td mat-cell *matCellDef="let element" [routerLink]="[ '/teacher/view-class', element.id ]"> {{element.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="nameCourse">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Khóa học </th>
                <td mat-cell *matCellDef="let element"> {{element.nameCourse}} </td>
            </ng-container>

            <ng-container matColumnDef="startDay">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Ngày bắt đầu </th>
                <td mat-cell *matCellDef="let element"> {{element.startDay | date:'yyyy-MM-dd'}} </td>
            </ng-container>

            <ng-container matColumnDef="endDay">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Ngày kết thúc</th>
                <td mat-cell *matCellDef="let element"> {{element.endDay | date:'yyyy-MM-dd'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
