
<div class="row">
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading single-project-nav">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a [routerLink]="'/admin/listStudent'" data-toggle="tab">Student</a>
                    </li>
                    <li>
                        <a [routerLink]="'/admin/listTeacher'" data-toggle="tab">Teacher</a>
                    </li>
                    <li>
                            <a [routerLink]="'/admin/createAccount'" data-toggle="tab">Create Account</a>
                        </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="mat-app-background basic-container">
    <div fxLayout fxLayoutAlign="center center">
        <mat-form-field>
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="DataSource" matSort matSortStart="desc">

            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Phone Number </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Address </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> User Name </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> Action </th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    <mat-icon (click)="updateAccount(element.id)" class="action-button">edit</mat-icon>
                    <mat-icon class="action-button">delete_sweep</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>